<turbo-frame id="load-more-button">
    {% if hasNextPage %}

    {% set currentQueryParams = app.request.query.all %}
    {% set nextQueryParams = currentQueryParams|merge({'page': page + 1}) %}
    {% set routeName = category ? 'app_home_category' : 'app_home' %}
    {% set finalParams = category ? nextParams|merge({'slug': category.slug}) : nextQueryParams %}


    {% if category %}
        {% set finalParams = nextQueryParams|merge({'slug': category.slug}) %}
    {% else %}
        {% set finalParams = nextQueryParams %}
    {% endif %}

    <div class="flex justify-center mt-8">
        <a href="{{ path(routeName, finalParams) }}"
            class="bg-gray-200 text-gray-700 font-bold py-2 px-6 rounded-full hover:bg-gray-300 transition"
            data-turbo-stream="true">
            Załaduj więcej
        </a>
    </div>
    {% endif %}
</turbo-frame>
