<turbo-stream action="append" target="meal-plan-submit-{{ recipe.id }}">
    <template>
        <span class="absolute right-4 top-1/2 -translate-y-1/2 text-lg text-white disappear-after-time">
            &#10003;
        </span>
    </template>
</turbo-stream>
