{% extends 'base.html.twig' %}

{% block title %}Ulubione przepisy{% endblock %}

{% block body %}
    <h1 class="font-bold text-2xl px-4 pt-4">Ulubione przepisy </h1>
    {% include "recipe/_list.html.twig" with {
            "recipes": recipes,
            "is_favorite_page": true
        } %}
{% endblock %}
