{% import '_macros/icons.html.twig' as icons %}

<ul class="mb-10 flex flex-col gap-4" id="comment_list_{{ recipe.id }}">
    {% for comment in recipe.comments %}
        {% include "_partials/_comment_item.html.twig" with {"comment": comment}%}
    {% else %}
        <li id="no-comments-message" class="text-gray-500 italic">Brak komentarzy</li>
    {% endfor %}
</ul>
