<turbo-stream action="append" target="add-ingriedient-{{ ingredient.id }}">
    <template>
        <span class="text-green-500 text-lg disappear-after-time block">
            &#10003;
        </span>
    </template>
</turbo-stream>
