<turbo-stream action="append" target="add-ingriedient-{{ ingredient.id }}">
    <template>
        <span class="text-green-500 text-xl disappear-after-time absolute right-0.5 top-1/2 -translate-y-1/2">
            &#10003;
        </span>
    </template>
</turbo-stream>
