{% set limit = 10 %}
{% set count = field.value|length %}

{% if count == 0 %}
    <span><span class="badge badge-secondary">Brak elementów</span>
{% else %}
    <ul style="padding-left: 20px; margin: 0;">
        {% for item in field.value|slice(0, limit) %}
            <li>{{ item }}</li>
        {% endfor %}

        {% if count > limit %}
            <li style="color: grey; font-style: italic;">
                ... i {{ count - limit }} innych.
            </li>
        {% endif %}
    </ul>
{% endif %}
