{% extends 'auth_base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p class="mb-2">
        Jeśli konto pasujące do Twojego adresu e-mail istnieje, oznacza to, że właśnie wysłano wiadomość e-mail
        zawierającą link umożliwiający zresetowanie hasła.
        Ten link wygaśnie za {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <div>
        <p class="mb-2">Jeżeli nie otrzymasz wiadomości e-mail, sprawdź folder ze spamem lub</p>
        <a class="p-2 bg-blue-500 text-white rounded hover:cursor-pointer hover:bg-blue-600"
            href="{{ path('app_forgot_password_request') }}">Wyślij ponownie</a>
    </div>
{% endblock %}
